<div class="container-fluid" id="buckets">
    <div class="row">
      <div class="card-deck">


          <div class="card">
            <%= image_tag "http://i.imgur.com/d8WRiYd.jpg",  class: "card-img-top"  %>
            <div class="card-block">
              <h4 class="card-title">Beaches</h4>
              <h6 class="card-subtitle"">Bucket</h6>
              <p class="card-text">Bucket</p>
            </div>
          </div>
          <div class="card">
            <%= image_tag "http://i.imgur.com/Ek5NOJA.jpg",  class: "card-img-top"  %>
            <div class="card-block">
              <h4 class="card-title">Cities</h4>
              <h6 class="card-subtitle"">Bucket</h6>
              <p class="card-text">Bucket</p>
            </div>
          </div>
          <div class="card">
            <%= image_tag "http://i.imgur.com/tGMqjLw.jpg",  class: "card-img-top"  %>
            <div class="card-block">
              <h4 class="card-title">Mountains</h4>
              <h6 class="card-subtitle"">Bucket</h6>
              <p class="card-text">Bucket</p>
            </div>
          </div>

      </div>
    </div>
  </div>