<%= form_tag("/flights", method: "get", class: "form-inline") do %>
  <div class="form-group">
    <%= text_field_tag :q, nil, placeholder: 'Airport Code', class: "form-control", id: "airport-search-input" %>
    <%= button_tag(type: "submit", class: "btn btn-primary") do %>
      <i class="fa fa-plane"></i>&nbsp; Take me anywhere!
    <% end %>
  </div>
<% end %>