<% if @quotes %>
  <%= render "results" %>
<% else %>
<div class="alert alert-warning" role="alert">
  <strong>Warning!</strong> Yikes! Looks like we couldn't find any quotes, or you searched an invalid Airport Code!
</div>
<% end %>