<h1 class="center">Buckets</h1>

<div class="container-fluid" id="buckets">
  <div class="row">
    <div class="card-deck">

    <% @buckets.each do |bucket| %>
      <div class="card">
        <%= link_to (image_tag bucket.image_url,  class: "card-img-top"), bucket  %>
        <div class="card-block">
          <h4 class="card-title"><%= link_to bucket.name, bucket %></h4>
          <p class="card-subtitle"><%= link_to "Edit", edit_bucket_path(bucket) %></p>
        </div>
      </div>
    <% end %>


    </div>
  </div>
</div>