@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "cover";
@import "custom";
@import "flights";
@import "search";
@import "jquery_ui";



html,
body {
  height: 100%;
}

.center {
  text-align: center;
  background-color: #D4DDE4;
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}


.ui-autocomplete-category {
  font-weight: bold;
}

.ui-autocomplete {
  max-height: 300px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}

.ui-state-focus {
  background-color: #f7f7f7 !important;
}