@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "cover";
@import "custom";
@import "flights";


html,
body {
  height: 100%;
}

.center {
  text-align: center;
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
